{% extends "base.html" %}
{% block base %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>~~~
          </button>
        <a class="navbar-brand" href="#">项目接口测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Settings</a></li>
                <li><a href="/logout/">logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="width:150px;">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/project/">
                        <i class="glyphicon glyphicon-th-large"></i>&nbsp;&nbsp;项目管理
                    </a>
                </li>
                <li>
                    <a href="/module/">
                        <i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;模块管理
                    </a>
                </li>
           </ul>
           <ul class="nav nav-sidebar">
               <li class="active">
                   <a href="/testcase/">
                       <i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;用例管理
                   </a>
               </li>
               <li>
                   <a href="/testtask/">
                       <i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;任务管理
                   </a>
               </li>
           </ul>
           <ul class="nav nav-sidebar">
                <li><a href="">报告管理</a></li>
                <li><a href="">测试平台设置</a></li>
           </ul>
        </div>
        <div style="margin-left: 135px;" class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-2 main">

            <!--这块内容可变的-->
            <!--用例管理-->
            <h4 class="sub-header">添加用例</h4>

            <div class="input-group">
                <span class="input-group-addon">名称</span>
                <input id="case_name" type="text" class="form-control">
            </div>

            <div class="input-group" style="margin-top: 35px;">
                <span class="input-group-addon">* URL</span>
                <input id="req_url" value="http://httpbin.org/post" type="text" class="form-control" placeholder="url">
            </div>

            <br>

            <div>
                <laber>* 请求方法：</laber>
                <label class="radio-inline">
                    <input type="radio" name="req_method" id="get" value="get" checked="check"> GET
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_method" id="post" value="post"> POST
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_method" id="put" value="pust"> PUT
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_method" id="delete" value="delete"> DELETE
                </label>
            </div>

            <br>

            <div class="input-group">
                <span class="input-group-addon">header</span>
                <input id="header" value="{}" type="text" class="form-control" placeholder="header">
            </div>

            <br>

            <div style="margin-top:10px;">
                <label>* 参数类型:</label>
                <label class="radio-inline">
                    <input type="radio" name="req_type" id="form" value="form" checked="check"> form-data
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_type" id="json" value="json"> JSON
                </label>
            </div>

            <div class="input-group">
                <span class="input-group-addon">参数</span>
                <input id="req_parameter" value='{"key1":"value1","key2":"value2"}' type="text" class="form-control">
            </div>
            <p style="color:#8B8989">说明：以字典的方式设置参数，如：{"id":1,"name":"名称"}</p>

            <div style="float:right;margin-right: 10px">
                <button type="button" class="btn btn-primary" id="send" onclick="sendFun()"> 发送 </button>
            </div>

            <div style="margin-top: 30px;">
                <p style="color:blue;">返回结果:</p>
                <textarea id="result" class="form-control" rows="10" name=textarea"></textarea>
            </div>

            <div style="float:right;margin-right: 10px;margin-top:15px;">
                <button type="button" class="btn btn-primary" onclick="assertFun()"> 断言 </button>
            </div>

            <div style=" margin-top:25px;">
                <laber>* 断言类型：</laber>
                <label class="radio-inline">
                    <input type="radio" name="assert_type" id="contains" value="contains" checked="check"> 包含
                </label>
                <label class="radio-inline">
                    <input type="radio" name="assert_type" id="mathches" value="mathches"> 匹配
                </label>
            </div>


            <div style="margin-top: 10px;">
                <p style="color:blue;">断言:</p>
                <textarea id="assert" class="form-control" rows="5" name=textarea"></textarea>
            </div>

            <div style="margin-top: 20px;">
                <label style="float:left">项目：</label>
                <select class="form-control select2-single"
                        id="selectProject" style="width:180px;">
                    <option value="">请选择</option>
                </select>

                <label style="float:left;margin-top: 20px;">模块：</label>
                <select class="form-control select2-single"
                        id="selectModule" style="width:180px;;margin-top: 20px;">
                    <option value="">请选择</option>
                </select>
            </div>

            <div style="float:right;margin-right: 10px;margin-top:15px;">
                <button type="button" class="btn btn-primary" onclick="savetFun()"> 保存 </button>
            </div>

        </div>
    </div>
</div>

<!--在线引用jquery-->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<!--bootstrap-select-->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/i18n/defaults-*.min.js"></script>-->

<!--select2样式库-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>


<script type="text/javascript">

    /**废弃
    // 调用js中项目的初始化
    projectInit("project_name");

    // 初始化编辑下拉框数据
    TestCaseInit();

    // 监听项目列表变化
    $("#project_name").change(function(){

        let project_id = $(this).children('option:selected').val();

        console.log("选择的项目id",project_id);

        // 调用js中模块的初始化
        ModuleInit("module_name",project_id);

    });
    */

    // 调用js初始化下拉框数据
    SelectInit();

    //发送方法
    function sendFun() {

        var url = document.querySelector("#req_url").value;

        var header = $("#header").val();

        var method = $('input[name="req_method"]:checked').val();

        var type = $('input[name="req_type"]:checked').val();

        var parameter = document.querySelector("#req_parameter").value;

        if (url === ""){

            window.alert("URL不能为空！");

            return;
        }

        $.post("/testcase/debug",
                {
                    url:url,
                    header:header,
                    method:method,
                    type:type,
                    parameter:parameter
                },

            function(data,status){

                alert("数据：" + data.result);

                console.log("返回结果：",data.result);

                document.querySelector("#result").style.color = "red";

                document.querySelector("#result").value = data.result;


            }

        )

    }

    //断言方法
    function assertFun(){

        var result_text = $("#result").val();

        var assert_text = $("#assert").val();

        var assert_type = $('input[name="assert_type"]:checked').val();

        if (result_text === "" || assert_text === ""){

            window.alert("要断言的文本不能为空");

            return;

        }

        console.log("得到的结果",result_text);

        console.log("得到的结果",assert_text);


        $.post("/testcase/assert",
                {
                    result:result_text,
                    assert:assert_text,
                    assert_type:assert_type
                },

            function(data,status){

            alert("数据：" + data.result);

            console.log("返回结果：",data.result);

            document.querySelector("#assert").style.color = "blue";

            //document.querySelector("#assert").value = data.result;


            }

        )
    }

    //保存方法
    function savetFun() {

        //接口的基本数据
        let url = document.querySelector("#req_url").value;

        let header = $("#header").val();

        let method = $('input[name="req_method"]:checked').val();

        let type = $('input[name="req_type"]:checked').val();

        let parameter = document.querySelector("#req_parameter").value;


        //保存的数据
        let module_id = $('select[id="selectModule"]').val() //取模块下拉列表中value的值

        let case_name = $("#case_name").val();

        //断言的数据
        var assert_text = $("#assert").val();

        var assert_type = $('input[name="assert_type"]:checked').val();


        if (url === ""){

            window.alert("URL不能为空！");
            return;
        }
        else if (assert_type === "" || assert_text === ""){

            window.alert("断言的类型或参数不能为空！");
            return;
        }
        else if (case_name === ""){

            window.alert("用例名称不能为空！");
            return;
        }
        else if (module_id === null || module_id === ""){

            window.alert("所属模块不能为空！");
            return;
        }

        window.alert("parameter:" + parameter);

        let confirm_addmsg = confirm("确定要创建吗？");

        if (confirm_addmsg === true)
        {
            $.post("/testcase/save_case",
                {
                    url: url,
                    header: header,
                    method: method,
                    type: type,
                    parameter: parameter,
                    assert: assert_text,
                    assert_type: assert_type,
                    mid: module_id,
                    name: case_name,
                    sub_type: 1
                },

                function (data) {

                    if (data.status === 10200) {

                        console.log("返回结果：", data.message);

                        var message = confirm("创建成功，返回testcase首页？");

                        if (message === true) {

                            // js alert弹框后跳转链接
                            window.location.replace("/testcase/");

                        }
                        // alert("数据1：" + data.message);

                    }
                }
            )
        }
    }

</script>


{% endblock %}