{% extends "base.html" %}
{% block base %}

<!--<!DOCTYPE html>-->
<!--<html lang="zh-CN">-->
  <!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--&lt;!&ndash; 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ &ndash;&gt;-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->
    <!--<link rel="icon" href="../../favicon.ico">-->

    <!--<title>接口项目测试平台</title>-->

    <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Custom styles for this template &ndash;&gt;
    <!--<link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">-->

  <!--</head>-->

  <!--<body>-->

<nav class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">项目接口测试平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Settings</a></li>
                    <li><a href="/logout/">logout</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search..."  disabled="disabled">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li>
                        <a href="/project/">
                            <i class="glyphicon glyphicon-th-large"></i>&nbsp;&nbsp;项目管理
                        </a>
                    </li>
                    <li class="active">
                        <a href="/module/">
                            <i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;模块管理
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li>
                       <a href="/testcase/">
                           <i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;用例管理
                       </a>
                    </li>
                    <li>
                       <a href="">
                           <i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;任务管理
                       </a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">报告管理</a></li>
                    <li><a href="">测试平台设置</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <!--模块list-->
                {% if type == "list" %}
                <form class="module" method="get" name="module-page" action="search">
                    <input  type="text" name="search_name" placeholder="搜索模块名称">
                    <button class="btn btn-primary" type="submit">搜索模块</button>
                </form>

                <h3 class="sub-header">模块列表
                    <button class="btn btn-primary" name="submit" style="float:right;"
                            onclick="location.href='/module/add_module/'">创建模块</button>
                </h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>

                            <tr>

                                <th>模块编号</th>
                                <th>模块名称</th>
                                <th>模块描述</th>
                                <th>模块创建时间</th>
                                <th>关联项目</th>
                                <th>操作</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for module in modules %}

                            <tr>
                                  <td>{{ module.id}}</td>
                                  <td>{{ module.name}}</td>
                                  <td>{{ module.describe}}</td>
                                  <td>{{ module.create_time | date:"Y-m-d H:i:s" }}</td>
                                  <td>{{ module.project}}</td>
                                  <td>
                                      <a href="/module/edit_module/{{ module.id }}/">
                                          <i class="glyphicon glyphicon-pencil">编辑</i>
                                      </a>
                                      <a href="/module/delete_module/{{ module.id }}/" style="margin-left:20px;">
                                          <i class="glyphicon glyphicon-trash">删除</i>
                                      </a>
                                      <!--<button type="submit" name="update-data">更新</button>-->
                                      <!--<button type="submit" name="delete-data">删除</button>-->
                                  </td>

                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                    <div style="text-align: center;color:red">{{ search_error }}</div>
                </div>
                {% endif %}


                <!--添加模块-->
                <!--第一种方式：html的form表单-->

                {% if type == "add" %}

                <h3>添加模块</h3>
                <form class="form-horizontal" method="post" action="/module/add_module/">
                    <fieldset>

                        <div class="control-group">
                            <label class="control-label">关联项目名称：</label>
                            <span>
                                <!--<div class="controls">-->
                                    <select style="width: 174px;" name="module_project">
                                        {% for project in projects %}
                                            <option>{{ project.name }}</option>
                                        {% endfor %}
                                    </select>
                                <!--</div>-->
                            </span>
                        </div>
                        <div class="control-group">
                            <label class="control-label" style="margin-top: 20px;">模块名称：</label>
                            <!--<div class="controls">-->
                            <span>
                                <input type="text" name='module_name' class="input-xlarge"
                                       style="width: 180px;margin-left: 27px;">
                                <span style="color:red">{{ name_error }}</span>
                            <!--</div>-->
                            </span>
                        </div>

                        <div class="control-group">
                            <label for="describe_1" class="control-label" style="margin-top: 90px;">模块描述：</label>
                            <!--<div class="controls">-->
                            <span class="textarea">
                                <textarea id= "describe_1" name="module_describe"
                                          style="width: 300px;height:80px;margin-left: 27px;"></textarea>
                            </span>
                            <!--</div>-->

                        </div>

                        <div class="control-group" style="margin-left:1px;margin-top: 40px;float: left">
                            <div class="controls">
                                <button class="btn btn-success" style="margin-left: 40px;">保存</button>
                                <button style="margin-left: 20px;" onclick="javascript:this.form.action='/module/';"
                                        class="btn btn-info">返回</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                {% endif %}


                <!--第二种方式：django的form表单-->
                <!--{% if type == "add" %}-->
                <!--<h3>添加模块</h3>-->
                <!--<form class="form-horizontal" method="post" action="/module/add_module/">-->
                    <!--<fieldset>-->
                        <!--<div class="control-group">-->
                            <!--<label class="control-label">关联项目名称：</label>-->
                            <!--<span>-->
                                <!--{{ form.project }}-->
                            <!--</span>-->
                            <!--&lt;!&ndash;<div class="controls">&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ form.project }}&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->

                        <!--<div class="control-group">-->
                            <!--<label class="control-label" style="margin-top: 20px;">模块名称：</label>-->
                            <!--<span style="margin-left: 27px;">-->
                                <!--{{ form.name }}-->
                            <!--</span>-->
                            <!--&lt;!&ndash;<div class="controls">&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ form.name }}&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->

                        <!--<div class="control-group">-->
                            <!--<label class="control-label" style="margin-top: 210px;">模块描述：</label>-->
                            <!--<span style="margin-left: 27px;">-->
                                <!--{{ form.describe }}-->
                            <!--</span>-->
                            <!--&lt;!&ndash;<div class="controls">&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ form.describe }}&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->

                        <!--<div class="control-group" style="margin-left:1px;margin-top: 40px;float: left">-->
                            <!--<div class="controls">-->
                                <!--<input type="submit" class="btn btn-success" style="margin-left: 40px;"-->
                                       <!--value="保存"></button>-->
                                <!--<button style="margin-left: 20px;" onclick="javascript:this.form.action='/module/';"-->
                                        <!--class="btn btn-info">返回</button>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</fieldset>-->
                <!--</form>-->
                <!--{% endif %}-->


                <!--编辑模块-->
                <!--第一种方式：html的form表单-->
                <!--
                {% if type == "edit" %}

                <form class="form-horizontal" method="post" action="/project/edit_project/">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">名称</label>
                            <div class="controls">
                                <input type="text" name='project_name' class="input-xlarge">
                                <span style="color:red">{{ name_error }}</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">描述</label>
                            <div class="controls">
                                <div class="textarea">
                                    <textarea name="project_describe" style="width: 174px;"> </textarea>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">状态</label>
                            <div class="controls" style="height:30px;">
                                <label class="radio inline" style="left: 50px;float: left">
                                    <input type="radio" value="1" checked="checked" name="status">开启
                                </label>
                                <label class="radio inline" style="left: 80px;float: left;">
                                    <input type="radio" value="0" name="status">关闭
                                </label>
                            </div>
                        </div>

                        <div class="control-group" style="left:100px;float: left">
                            <div class="controls">
                                <button class="btn btn-success">保存</button>
                            </div>
                        </div>

                    </fieldset>
                </form>

                {% endif %}
                -->

                <!--第二种方式：django的form表单-->
                {% if type == "edit" %}

                    <form action="/module/edit_module/{{ mid }}/" method="post">

                        {{ form.as_p }}

                        <input type="submit" class="btn btn-primary" value="修改">

                        <button onclick="javascript:this.form.action='/module/';"
                                class="btn btn-info">返回</button>
                    </form>

                {% endif %}

                {% if type == "list" %}

                    <!--分页器-->
                    <div style="text-align: center;">
                       <nav aria-label="Page navigation">
                          <ul class="pagination">

                              {% if modules %}

                                  {% if search_name %}

                                      <li>
                                          <a href="?search_name={{ search_name }}&page={{ page_num }}" aria-label="Previous">
                                              <span aria-hidden="true">首页</span>
                                          </a>
                                      </li>

                                  {% else %}

                                      <li>
                                          <a href="?page={{ page_num }}" aria-label="Previous">
                                              <span aria-hidden="true">首页</span>
                                          </a>
                                      </li>

                                  {% endif %}


                                  {% if modules.has_previous %}

                                      {% if search_name %}

                                          <li>
                                              <a href="?search_name={{ search_name }}&page={{ modules.previous_page_number}}" aria-label="Previous">
                                                  <span aria-hidden="true">&laquo;</span>
                                              </a>
                                          </li>

                                      {% else %}

                                          <li>
                                              <a href="?page={{ modules.previous_page_number}}" aria-label="Previous">
                                                  <span aria-hidden="true">&laquo;</span>
                                              </a>
                                          </li>

                                      {% endif %}

                                  {% else %}

                                      <li class="disabled">
                                              <a href="#" aria-label="Next">
                                                  <span aria-hidden="true">&laquo;</span>
                                              </a>
                                      </li>

                                  {% endif%}


                                  {% for p1 in paginator_num_pages_array_ %}

                                      {% if modules.has_previous %}

                                          {% if search_name %}

                                              {% if p1 == modules.number %}

                                                  <li class="active">

                                                      <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                          {{ p1 }}
                                                      </a>

                                                  </li>

                                              {% else %}

                                                  <li>

                                                      <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                          {{ p1 }}
                                                      </a>

                                                  </li>

                                              {% endif %}


                                          {% else %}

                                              {% if p1 == modules.number %}

                                                  <li class="active">

                                                      <a href="?page={{ p1 }}">
                                                          {{ p1 }}
                                                      </a>

                                                  </li>

                                              {% else %}

                                                  <li>

                                                      <a href="?page={{ p1 }}">
                                                          {{ p1 }}
                                                      </a>

                                                  </li>

                                              {% endif %}

                                          {% endif %}

                                      {% else %}

                                          {% if search_name %}

                                              {% if p1 == modules.number %}

                                                  <li class="active">

                                                      <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                          {{ p1 }}
                                                      </a>

                                                  </li>

                                              {% else %}

                                                  <li>

                                                      <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                          {{ p1 }}
                                                      </a>

                                                  </li>

                                              {% endif %}

                                          {% else %}

                                              {% if p1 == modules.number %}

                                                  <li class="active">

                                                      <a href="?page={{ p1 }}">
                                                          {{ p1 }}
                                                      </a>

                                                  </li>

                                              {% else %}

                                                  <li>

                                                      <a href="?page={{ p1 }}">
                                                          {{ p1 }}
                                                      </a>

                                                  </li>

                                              {% endif %}

                                          {% endif %}

                                      {% endif %}

                                  {% endfor %}


                                  {% if modules.has_next %}

                                      {% if search_name %}

                                          <li>
                                              <a href="?search_name={{ search_name }}&page={{ modules.next_page_number}}" aria-label="Previous">
                                                  <span aria-hidden="true">&raquo;</span>
                                              </a>
                                          </li>

                                      {% else %}

                                          <li>
                                              <a href="?page={{ modules.next_page_number}}" aria-label="Previous">
                                                  <span aria-hidden="true">&raquo;</span>
                                              </a>
                                          </li>

                                      {% endif %}

                                  {% else %}

                                      <li class="disabled">
                                              <a href="#" aria-label="Next">
                                                  <span aria-hidden="true">&raquo;</span>
                                              </a>
                                      </li>

                                  {% endif %}

                                  {% if search_name %}

                                      <li>
                                          <a href="?search_name={{ search_name }}&page={{ paginator_num_pages }}" aria-label="Previous">
                                              <span aria-hidden="true">末页</span>
                                          </a>
                                     </li>

                                  {% else %}

                                      <li>
                                          <a href="?page={{ paginator_num_pages }}" aria-label="Previous">
                                              <span aria-hidden="true">末页</span>
                                          </a>
                                     </li>

                                  {% endif %}

                              {% endif %}

                          </ul>

                       </nav>

                    </div>

                {% endif %}


            </div>

      </div>

    </div>

{% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

  <!--</body>-->
<!--</html>-->
