{% extends "task_list.html" %}
{% block taskadd %}

<div>

    <h4 class="sub-header">添加任务</h4>

    <div style="margin-top: 30px;">
        <p>任务名称:</p>
        <input id="task_name" type="text" class="form-control">
    </div>

    <div style="margin-top: 10px;">
        <p>任务描述:</p>
        <textarea id="describe" class="form-control" rows="3" name=textarea"></textarea>
    </div>

    <div style="margin-top: 10px;">
        <p>用例列表:</p>
        <ul id="treeDemo" class="ztree"></ul>
    </div>

    <div style="float:right;margin-top: 20px;">
        <button type="button" class="btn btn-primary" onclick="saveFun()">保存</button>
    </div>
</div>

<!--在线引用jquery-->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<!--在线引用ztree-->
<link href="http://cdn.bootcss.com/zTree.v3/3.5.23/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/zTree.v3/3.5.23/js/jquery.ztree.all.js"></script>


<script type="text/javascript">

    //初始化用例树
    caseTreeInit();

    function saveFun(){

//        window.alert("123");

        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");

        var nodes   = treeObj.getCheckedNodes(true);

        console.log(nodes);

        for (let i=0; i<nodes.length; i++){

            console.log("被选中的节点：" + nodes[i].name)
        }

    }


</script>


{% endblock %}
