{% extends "base.html" %}
{% block base %}

<style>
    .op{
        text-align: center;
    }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">项目接口测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Settings</a></li>
                <li><a href="/logout/">logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search..."  disabled="disabled">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="width:150px;">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/project/">
                        <i class="glyphicon glyphicon-th-large"></i>&nbsp;&nbsp;项目管理
                    </a>
                </li>
                <li>
                    <a href="/module/">
                        <i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;模块管理
                    </a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li>
                   <a href="/testcase/">
                       <i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;用例管理
                   </a>
                </li>
                <li class="active">
                   <a href="/testtask/">
                       <i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;任务管理
                   </a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">报告管理</a></li>
                <li><a href="">测试平台设置</a></li>
            </ul>
        </div>
        <div style="margin-left: 135px;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <!--任务list-->
            {% if type == "list" %}

                <!--<form class="module" method="get" name="module-page" action="search">-->
                    <!--<input  type="text" name="search_name" placeholder="搜索任务名称">-->
                    <!--<button class="btn btn-primary" type="submit" >搜索任务</button>-->
                <!--</form>-->

                <h3 class="sub-header">任务列表
                    <button class="btn btn-primary" name="submit" style="float:right;"
                            onclick="location.href='/testtask/add_task/'">创建任务</button>
                </h3>
                <div class="table-responsive op">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="op">编号</th>
                                <th class="op">名称</th>
                                <th class="op">状态</th>
                                <th class="op">创建时间</th>
                                <th class="op">操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for task in tasks %}

                            <tr>
                                <td>{{ task.id}}</td>

                                <td>{{ task.name}}</td>

                                {% if task.status == 0 %}

                                    <td>未执行</td>

                                {% elif task.status == 1 %}

                                    <td>执行中</td>

                                {% elif task.status == 2 %}

                                    <td>已完成</td>

                                {% else %}

                                    <td>失败</td>

                                {% endif %}

                                <td>{{ task.create_time | date:"Y-m-d H:i:s" }}</td>

                                <td>

                                    <a href="/testtask/edit_task/{{ task.id }}/">

                                          <i class="glyphicon glyphicon-edit">编辑</i>
                                    </a>

                                    <a href="/testtask/delete_task/{{ task.id }}/" style="margin-left:10px;"
                                              onclick="return del_task()">

                                          <i class="glyphicon glyphicon-trash">删除</i>

                                    </a>

                                    <a href="#" onclick="return RunTask('{{ task.id }}')" style="margin-left:10px;">

                                          <i class="glyphicon glyphicon-play">执行</i>

                                    </a>

                                    <a href="#" style="margin-left:10px;">

                                          <i class="glyphicon glyphicon-list-alt">结果</i>

                                    </a>

                                </td>

                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                    <div style="text-align: center;color:red">{{ search_error }}</div>
                </div>

            {% endif %}

            <!--任务add-->
            {% if type == "add" %}

                {% block taskadd %}

                    <!--其他页面可以继承task_list.html-->

                {% endblock %}

            {% endif %}

            <!--任务edit-->
            {% if type == "edit" %}

                {% block taskedit %}

                    <!--其他页面可以继承task_list.html-->

                {% endblock %}

            {% endif %}

            <!--分页器-->
            <!--<div style="text-align: center;">-->
               <!--<nav aria-label="Page navigation">-->
                  <!--<ul class="pagination">-->

                      <!--{% if cases %}-->

                          <!--<li>-->
                              <!--<a href="?page={{ page_num }}" aria-label="Previous">-->
                                  <!--<span aria-hidden="true">首页</span>-->
                              <!--</a>-->
                          <!--</li>-->

                          <!--{% if cases.has_previous %}-->


                              <!--{% if search_name %}-->

                                  <!--<li>-->
                                      <!--<a href="?search_name={{ search_name }}&page={{ cases.previous_page_number}}" aria-label="Previous">-->
                                        <!--<span aria-hidden="true">&laquo;</span>-->
                                      <!--</a>-->
                                  <!--</li>-->

                                  <!--<li>-->
                                      <!--<a href="?search_name={{ search_name }}&page={{ cases.previous_page_number}}">-->
                                            <!--{{ cases.previous_page_number }}-->
                                      <!--</a>-->
                                  <!--</li>-->

                                  <!--<li class="active">-->
                                      <!--<a href="?search_name={{ search_name }}&page={{ cases.number }}">-->
                                          <!--{{ cases.number }}-->
                                      <!--</a>-->
                                  <!--</li>-->

                              <!--{% else %}-->

                                  <!--<li>-->
                                      <!--<a href="?page={{ cases.previous_page_number}}" aria-label="Previous">-->
                                        <!--<span aria-hidden="true">&laquo;</span>-->
                                      <!--</a>-->
                                  <!--</li>-->

                                  <!--<li>-->
                                      <!--<a href="?page={{ cases.previous_page_number}}">-->
                                            <!--{{ cases.previous_page_number }}-->
                                      <!--</a>-->
                                  <!--</li>-->

                                  <!--<li class="active">-->
                                      <!--<a href="?page={{ cases.number }}">-->
                                          <!--{{ cases.number }}-->
                                      <!--</a>-->
                                  <!--</li>-->

                              <!--{% endif %}-->

                              <!--{% if cases.has_next %}-->

                                  <!--{% if search_name %}-->

                                      <!--<li>-->
                                          <!--<a href="?search_name={{ search_name }}&page={{ cases.next_page_number }}">-->
                                              <!--{{ cases.next_page_number }}-->
                                          <!--</a>-->
                                      <!--</li>-->

                                      <!--<li>-->
                                          <!--<a href="?search_name={{ search_name }}&page={{ cases.next_page_number }}" aria-label="Previous">-->
                                            <!--<span aria-hidden="true">&raquo;</span>-->
                                          <!--</a>-->
                                      <!--</li>-->

                                  <!--{% else %}-->

                                      <!--<li>-->
                                          <!--<a href="?page={{ cases.next_page_number }}">-->
                                              <!--{{ cases.next_page_number }}-->
                                          <!--</a>-->
                                      <!--</li>-->

                                      <!--<li>-->
                                          <!--<a href="?page={{ cases.next_page_number }}" aria-label="Previous">-->
                                            <!--<span aria-hidden="true">&raquo;</span>-->
                                          <!--</a>-->
                                      <!--</li>-->

                                  <!--{% endif %}-->

                              <!--{% else %}-->

                                  <!--<li class="disabled">-->
                                      <!--<a href="#" aria-label="Next">-->
                                          <!--<span aria-hidden="true">&raquo;</span>-->
                                      <!--</a>-->
                                  <!--</li>-->

                              <!--{% endif %}-->

                          <!--{% else %}-->

                              <!--{% if search_name %}-->

                                  <!--<li class="disabled">-->
                                      <!--<a href="#" aria-label="Previous">-->
                                          <!--<span aria-hidden="true">&laquo;</span>-->
                                      <!--</a>-->
                                  <!--</li>-->

                                  <!--<li class="active">-->
                                      <!--<a href="?search_name={{ search_name }}&page={{ cases.number }}">{{ cases.number }}</a>-->
                                  <!--</li>-->

                              <!--{% else %}-->

                                  <!--<li class="disabled">-->
                                      <!--<a href="#" aria-label="Previous">-->
                                          <!--<span aria-hidden="true">&laquo;</span>-->
                                      <!--</a>-->
                                  <!--</li>-->

                                  <!--<li class="active">-->
                                      <!--<a href="?page={{ cases.number }}">{{ cases.number }}</a>-->
                                  <!--</li>-->

                              <!--{% endif %}-->

                              <!--{% if cases.has_next %}-->

                                  <!--{% if search_name %}-->

                                      <!--<li>-->
                                          <!--<a href="?search_name={{ search_name }}&page={{ cases.next_page_number }}">{{ cases.next_page_number }}</a>-->
                                      <!--</li>-->

                                      <!--<li>-->
                                          <!--<a href="?search_name={{ search_name }}&page={{ cases.next_page_number }}" aria-label="Next">-->
                                              <!--<span aria-hidden="true">&raquo;</span>-->
                                          <!--</a>-->
                                      <!--</li>-->

                                  <!--{% else %}-->


                                      <!--<li>-->
                                          <!--<a href="?page={{ cases.next_page_number }}">{{ cases.next_page_number }}</a>-->
                                      <!--</li>-->

                                      <!--<li>-->
                                          <!--<a href="?page={{ cases.next_page_number }}" aria-label="Next">-->
                                              <!--<span aria-hidden="true">&raquo;</span>-->
                                          <!--</a>-->
                                      <!--</li>-->


                                  <!--{% endif %}-->

                              <!--{% else %}-->

                                  <!--<li class="disabled">-->
                                      <!--<a href="#" aria-label="Next">-->
                                          <!--<span aria-hidden="true">&raquo;</span>-->
                                      <!--</a>-->
                                  <!--</li>-->

                              <!--{% endif %}-->

                          <!--{% endif %}-->

                          <!--<li>-->
                              <!--<a href="?page={{ paginator_num_pages }}" aria-label="Previous">-->
                                  <!--<span aria-hidden="true">末页</span>-->
                              <!--</a>-->
                          <!--</li>-->

                      <!--{% endif %}-->

                  <!--</ul>-->

               <!--</nav>-->

            <!--</div>-->


            <!--分页器-->
            <!--<div style="text-align: center;">-->
               <!--<nav aria-label="Page navigation">-->
                  <!--<ul class="pagination">-->

                      <!--{% if cases %}-->

                          <!--{% if search_name %}-->

                              <!--<li>-->
                                  <!--<a href="?search_name={{ search_name }}&page={{ page_num }}" aria-label="Previous">-->
                                      <!--<span aria-hidden="true">首页</span>-->
                                  <!--</a>-->
                              <!--</li>-->

                          <!--{% else %}-->

                              <!--<li>-->
                                  <!--<a href="?page={{ page_num }}" aria-label="Previous">-->
                                      <!--<span aria-hidden="true">首页</span>-->
                                  <!--</a>-->
                              <!--</li>-->

                          <!--{% endif %}-->


                          <!--{% if cases.has_previous %}-->

                              <!--{% if search_name %}-->

                                  <!--<li>-->
                                      <!--<a href="?search_name={{ search_name }}&page={{ cases.previous_page_number}}" aria-label="Previous">-->
                                          <!--<span aria-hidden="true">&laquo;</span>-->
                                      <!--</a>-->
                                  <!--</li>-->

                              <!--{% else %}-->

                                  <!--<li>-->
                                      <!--<a href="?page={{ cases.previous_page_number}}" aria-label="Previous">-->
                                          <!--<span aria-hidden="true">&laquo;</span>-->
                                      <!--</a>-->
                                  <!--</li>-->

                              <!--{% endif %}-->

                          <!--{% else %}-->

                              <!--<li class="disabled">-->
                                      <!--<a href="#" aria-label="Next">-->
                                          <!--<span aria-hidden="true">&laquo;</span>-->
                                      <!--</a>-->
                              <!--</li>-->

                          <!--{% endif%}-->


                          <!--{% for p1 in paginator_num_pages_array_ %}-->

                              <!--{% if cases.has_previous %}-->

                                  <!--{% if search_name %}-->

                                      <!--{% if p1 == cases.number %}-->

                                          <!--<li class="active">-->

                                              <!--<a href="?search_name={{ search_name }}&page={{ p1 }}">-->
                                                  <!--{{ p1 }}-->
                                              <!--</a>-->

                                          <!--</li>-->

                                      <!--{% else %}-->

                                          <!--<li>-->

                                              <!--<a href="?search_name={{ search_name }}&page={{ p1 }}">-->
                                                  <!--{{ p1 }}-->
                                              <!--</a>-->

                                          <!--</li>-->

                                      <!--{% endif %}-->


                                  <!--{% else %}-->

                                      <!--{% if p1 == cases.number %}-->

                                          <!--<li class="active">-->

                                              <!--<a href="?page={{ p1 }}">-->
                                                  <!--{{ p1 }}-->
                                              <!--</a>-->

                                          <!--</li>-->

                                      <!--{% else %}-->

                                          <!--<li>-->

                                              <!--<a href="?page={{ p1 }}">-->
                                                  <!--{{ p1 }}-->
                                              <!--</a>-->

                                          <!--</li>-->

                                      <!--{% endif %}-->

                                  <!--{% endif %}-->

                              <!--{% else %}-->

                                  <!--{% if search_name %}-->

                                      <!--{% if p1 == cases.number %}-->

                                          <!--<li class="active">-->

                                              <!--<a href="?search_name={{ search_name }}&page={{ p1 }}">-->
                                                  <!--{{ p1 }}-->
                                              <!--</a>-->

                                          <!--</li>-->

                                      <!--{% else %}-->

                                          <!--<li>-->

                                              <!--<a href="?search_name={{ search_name }}&page={{ p1 }}">-->
                                                  <!--{{ p1 }}-->
                                              <!--</a>-->

                                          <!--</li>-->

                                      <!--{% endif %}-->

                                  <!--{% else %}-->

                                      <!--{% if p1 == cases.number %}-->

                                          <!--<li class="active">-->

                                              <!--<a href="?page={{ p1 }}">-->
                                                  <!--{{ p1 }}-->
                                              <!--</a>-->

                                          <!--</li>-->

                                      <!--{% else %}-->

                                          <!--<li>-->

                                              <!--<a href="?page={{ p1 }}">-->
                                                  <!--{{ p1 }}-->
                                              <!--</a>-->

                                          <!--</li>-->

                                      <!--{% endif %}-->

                                  <!--{% endif %}-->

                              <!--{% endif %}-->

                          <!--{% endfor %}-->


                          <!--{% if cases.has_next %}-->

                              <!--{% if search_name %}-->

                                  <!--<li>-->
                                      <!--<a href="?search_name={{ search_name }}&page={{ cases.next_page_number}}" aria-label="Previous">-->
                                          <!--<span aria-hidden="true">&raquo;</span>-->
                                      <!--</a>-->
                                  <!--</li>-->

                              <!--{% else %}-->

                                  <!--<li>-->
                                      <!--<a href="?page={{ cases.next_page_number}}" aria-label="Previous">-->
                                          <!--<span aria-hidden="true">&raquo;</span>-->
                                      <!--</a>-->
                                  <!--</li>-->

                              <!--{% endif %}-->

                          <!--{% else %}-->

                              <!--<li class="disabled">-->
                                      <!--<a href="#" aria-label="Next">-->
                                          <!--<span aria-hidden="true">&raquo;</span>-->
                                      <!--</a>-->
                              <!--</li>-->

                          <!--{% endif%}-->

                          <!--{% if search_name %}-->

                              <!--<li>-->
                                  <!--<a href="?search_name={{ search_name }}&page={{ paginator_num_pages }}" aria-label="Previous">-->
                                      <!--<span aria-hidden="true">末页</span>-->
                                  <!--</a>-->
                             <!--</li>-->

                          <!--{% else %}-->

                              <!--<li>-->
                                  <!--<a href="?page={{ paginator_num_pages }}" aria-label="Previous">-->
                                      <!--<span aria-hidden="true">末页</span>-->
                                  <!--</a>-->
                             <!--</li>-->

                          <!--{% endif %}-->

                      <!--{% endif %}-->

                  <!--</ul>-->

               <!--</nav>-->

            <!--</div>-->

        </div>

    </div>

</div>


<!--<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->

<script type="text/javascript">

    function RunTask(tid){

        msg_ = confirm("需要执行此测试用例吗？");

        if (msg_ == true)
            {
            console.log("选中到任务id：",tid);

            $.post("/testtask/run_task/",
                {
                    task_id:tid
                },
            function(resp){

                if (resp.status == 10200){

                    window.alert(resp.message);
                }
            }

            )
        }
        else{
            return false;
        }
    };

    function del_task(){

        msg_ = confirm("确定要删除该任务吗？");

        if (msg_ == true){

            return true;
        }

        else{

            return false;
        }
    }


    // 用例删除js判断
//    function del(){
//
//        msg_ = confirm("确定要删除任务吗？");
//
//        if (msg_ == true){
//
//            return true;
//
//            }
//
//        else{
//
//            return false;
//        }
//    };

</script>

{% endblock %}