{% extends "base.html" %}
{% block base %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>~~~
          </button>
        <a class="navbar-brand" href="#">接口项目测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Settings</a></li>
                <li><a href="/logout/">logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/project/">
                        <i class="glyphicon glyphicon-th-large"></i>&nbsp;&nbsp;项目管理
                    </a>
                </li>
                <li>
                    <a href="/module/">
                        <i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;模块管理
                    </a>
                </li>
           </ul>
           <ul class="nav nav-sidebar">
             <li class="active">
                 <a href="/testcase/">
                     <i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;用例管理
                 </a>
             </li>
             <li>
                 <a href="">任务管理</a>
             </li>
           </ul>
           <ul class="nav nav-sidebar">
                <li><a href="">报告管理</a></li>
                <li><a href="">测试平台设置</a></li>
           </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <!--这块内容可变的-->
            <!--用例管理-->
            {% if type == "debug" %}

            <h4 class="sub-header">postman调试小工具
            </h4>
            <div class="input-group">
                <span class="input-group-addon">* URL</span>
                <input id="req_url" value="http://127.0.0.1:8000/" type="text" class="form-control" placeholder="url">
            </div>

            <br>

            <div>
                <laber>* 请求方法：</laber>
                <label class="radio-inline">
                    <input type="radio" name="req_method" id="get" value="get" checked="check"> GET
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_method" id="post" value="post"> POST
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_method" id="put" value="pust"> PUT
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_method" id="delete" value="delete"> DELETE
                </label>
            </div>

            <br>

            <div class="input-group">
                <span class="input-group-addon">header</span>
                <input id="header" value="{}" type="text" class="form-control" placeholder="header">
            </div>

            <br>

            <div style="margin-top:10px;">
                <label>* 参数类型:</label>
                <label class="radio-inline">
                    <input type="radio" name="req_type" id="from" value="from" checked="check"> form-data
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_type" id="json" value="json"> JSON
                </label>
            </div>

            <div class="input-group">
                <span class="input-group-addon">参数</span>
                <input id="req_parameter" value="{}" type="text" class="form-control">
            </div>
            <p style="color:#8B8989">说明：以字典的方式设置参数，如：{"id":1,"name":"名称"}</p>

            <div style="float:right;margin-right: 10px">
                <button type="button" class="btn btn-primary" id="send" onclick="sendFun()"> 发送 </button>
            </div>

            <div style="margin-top: 30px;">
                <p style="color:blue;">返回结果:</p>
                <textarea id="result" class="form-control" rows="10" name=textarea"></textarea>
            </div>

            <div style="float:right;margin-right: 10px;margin-top:15px;">
                <button type="button" class="btn btn-primary" onclick="assertFun()"> 断言 </button>
            </div>

            <div style=" margin-top:25px;">
                <laber>* 断言类型：</laber>
                <label class="radio-inline">
                    <input type="radio" name="assert_type" id="contains" value="contains" checked="check"> 包含
                </label>
                <label class="radio-inline">
                    <input type="radio" name="assert_type" id="mathches" value="mathches"> 匹配
                </label>
            </div>


            <div style="margin-top: 10px;">
                <p style="color:blue;">断言:</p>
                <textarea id="assert" class="form-control" rows="5" name=textarea"></textarea>
            </div>

            <div style="margin-top: 20px;">
                <label>*项目：</label>
                <select class="selectpicker">
                    <option>11</option>
                    <option>22</option>
                    <option>33</option>
                </select>
                <label>*模块：</label>
                <select class="selectpicker">
                    <option>11</option>
                    <option>22</option>
                    <option>33</option>
                </select>
                <div style="float:right;margin-right: 10px;margin-top:15px;">
                    <button type="button" class="btn btn-primary" onclick="savetFun()"> 保存 </button>
                </div>
            </div>


            {% endif %}

        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">

    // 调用项目的初始化
    projectInit()

    //发送方法
    function sendFun() {

        var url = document.querySelector("#req_url").value;

        var header = $("#header").val();

        var method = $('input[name="req_method"]:checked').val();

        var type = $('input[name="req_type"]:checked').val();

        var parameter = document.querySelector("#req_parameter").value;

        if (url === ""){

            window.alert("URL不能为空！");

            return;
        }

        window.alert("parameter:" + parameter);

        $.post("/testcase/debug",
                {
                    url:url,
                    header:header,
                    method:method,
                    type:type,
                    parameter:parameter
                },

            function(data,status){

                alert("数据：" + data.result);

                console.log("返回结果：",data.result);

                document.querySelector("#result").style.color = "red";

                document.querySelector("#result").value = data.result;


            }

        )

    }

    //断言方法
    function assertFun(){

        var result_text = $("#result").val();

        var assert_text = $("#assert").val();

        var assert_type = $('input[name="assert_type"]:checked').val();

        window.alert(assert_type);

        if (result_text === "" || assert_text === ""){

            window.alert("要断言的文本不能为空");

            return;

        }

        console.log("得到的结果",result_text);

        console.log("得到的结果",assert_text);


        $.post("/testcase/assert",
                {
                    result:result_text,
                    assert:assert_text,
                    assert_type:assert_type
                },

            function(data,status){

            alert("数据：" + data.result);

            console.log("返回结果：",data.result);

//            document.querySelector("#assert").style.color = "blue";
//
//            document.querySelector("#assert").value = data.result;


            }

        )
    }

</script>


{% endblock %}